<div class="container-fluid">
  <div
    class="row px-5 py-3"
    style="
      background: linear-gradient(
        to bottom,
        #fff 0,
        #fff 30%,
        #eee 70%,
        #eee 100%
      );
    "
  >
    <div class="col-sm-12 col-md-2 px-md-5">
      <p class="text-start">0 <br />Views</p>
      <p class="text-start">0 <br />Downloads</p>
    </div>
    <div class="col-sm-12 col-md-8">
      <div>
        <div style="font-size: 0.85em; color: #666">Research Article</div>
        <h1 style="color: #333; font-family: droid serif; font-weight: 700">
          Navigating Traditional and Modern Institutions in City Governance: The
          Role of Chieftaincy in Spatial Planning in Tamale, Ghana
        </h1>
        <div>Issahaka Fuseini, Issahaka Fuseini, Issahaka Fuseini</div>
        <div>Published online: 26 Apr 2021</div>
        <div>https://doi.org/10.1080/00020184.2021.1911623</div>
      </div>
      <div id="myDIV">
        <a class="linkage selected text-decoration-none">Abstract</a>

        <a class="linkage text-decoration-none">Full Text</a>

        <a class="linkage text-decoration-none">References</a>

        <a class="linkage text-decoration-none">Graphical Abstract</a>

        <a class="linkage text-decoration-none">Download PDF</a>

        <a class="linkage text-decoration-none">Supplementary Documents</a>
      </div>
    </div>
  </div>
</div>
