<div class="container-fluid">
  <div
    class="row px-lg-5 px-3 pt-3 pb-1"
    style="
      background: linear-gradient(
        to bottom,
        #fff 0,
        #fff 30%,
        #eee 70%,
        #eee 100%
      );
    "
  >
    <div class="col-sm-12 col-md-2 px-md-5 d-flex d-lg-inline justify-content-space-evenly">
      <p class="text-start view-s"><span class="number">215</span> <br>Views&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="text-start text-secondary view-s" ><span class="number" >150</span> <br />Downloads</p>
    </div>
    <div class="col-sm-12 col-md-8">
      <div>
        <div class="mb-1" style="font-size: 0.85em; color: #666">Research Article</div>
        <span class="article-title">
          Navigating Traditional and Modern Institutions in City Governance: The
          Role of Chieftaincy in Spatial Planning in Tamale, Ghana
        </span>
        <div class="authors mt-2 mt-lg-1" >Issahaka Fuseini, Issahaka Fuseini, Issahaka Fuseini</div>
        <div style="    font-size: 12.24px;line-height: 20.8px;color: #777;margin-bottom: 0;">Received 17 Mar 2020, Accepted 16 Nov 2020, Published online: 26 Apr 2021</div>
        <div class="my-4"><p class="pre">https://doi.org/10.1080/00014788.2020.1746626</p></div>
      </div>
      <div class="myDIV d-flex justify-content-between">
      <div class="py-1 px-1 d-grid d-lg-inline-block">
          <a class="linkage p-2 p-lg-3 selected text-decoration-none">Abstract</a>
          
          <a class="linkage p-2 p-lg-3 text-decoration-none"><i class="fa fa-file-text px-1" aria-hidden="true"></i>Full Text</a>
          
          <a class="linkage p-2 p-lg-3 text-decoration-none"><i class="fa fa-book px-1" aria-hidden="true"></i>References</a>
          
          <a class="linkage p-2 p-lg-3 text-decoration-none"><i class="fa fa-file-pdf-o px-1" aria-hidden="true"></i>Graphical Abstract</a>
          
          <a class="linkage p-2 p-lg-3 text-decoration-none"><i class="fa fa-download px-1"></i>Download PDF</a>
          
          <a class="linkage p-2 p-lg-3 text-decoration-none"><i class="fa fa-file px-1" aria-hidden="true"></i>Supplementary Documents</a>
         

      </div>
      <div class="py-1 px-1">
        <a class="bg-Warning"><i class="fa fa-share-alt text-warning fs-4 "></i></a>
      </div>
      </div>
    </div>
    <!-- <div class="col-md-2">
          <a class="bg-Warning"><i class="fa fa-share-alt text-warning fs-4 "></i></a>
    </div> -->
   
  </div>
</div>
<div class="container-fluid">
  <div class="row px-lg-5 px-3 py-3" style="background:#fff;">
    <div class="col-sm-12 col-md-2 px-md-5">
   
    </div>
    <div class="col-sm-12 col-md-8">
      <div>
        <h1  class="fonts pt-3" style="font-size:22.4px; font-weight: 600;">ABSTRACT</h1>
        <p class="texts" style="font-size:1.1em; line-height: 1.8;">A mangled extremity usually refers to the development of a severe injury to the affected extremity that usually involves
        the soft tissue, skin, bones, and muscles. As most mangled injuries usually result from severe trauma, they can be
        associated with life-threatening complications if they are not adequately treated, requiring the integration of clinical
        decisions that can be lifesaving and may require amputation of the injured limb. In the present literature review, we
        aim to discuss management approaches to mangled extremities, in addition to the differences between the management of
        upper and lower limbs. The main steps for managing mangled extremities encompass damage control and fracture management
        by skeletal stabilization, debridement, and fracture fixation followed by revascularization and fasciotomy of extremity,
        in addition to nerve repair and debridement of soft tissues. It is important to care for any potential complications as
        infections may worsen the prognosis of the case. Bone shortening and critical time for reperfusion are two important
        factors that surgeons should consider when considering upper versus lower mangled extremities.</p>

        <p class="mb-4"><b class="me-2 text-secondary" style="color:#333">Keywords:</b>pro-poor, housingresidential ,mobility,Tamale</p>
      
      </div>
    </div>
  </div>
</div>

