<div style="background-color: #006db4">
  <div class="container-fluid py-3 text-light d-flex justify-content-between">
    <p class="fs-4 px-5">
      <img
        src="\assets\tfo_logo.png"
        alt=""
        style="width: 60px; height: 30px"
      />
      <span class="fs-5">The Nursing Journal of India</span>
    </p>
    <div class="py-2 px-5">
      <a
        href=""
        class="text-light px-3"
        style="text-decoration: none; font-weight: 500; font-size: 16px"
        ><i class="fa fa-user pe-2 fs-5" style="color: #b3e5ff"></i> Log in</a
      >
      <span style="color: #b3e5ff">|</span>
      <a
        href=""
        class="text-light px-3"
        style="text-decoration: none; font-weight: 500; font-size: 16px"
        >Register</a
      >

      <input type="checkbox" id="active" />
      <label for="active" class="menu-btn">
        <i class="fa fa-bars" style="color: #b3e5ff"></i>
      </label>
      <div class="wrapper">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">About us</a></li>
          <li><a href="about.html">Current Issue</a></li>
          <li><a href="project.html">Archive</a></li>
          <li><a href="works.html">Submit Manuscript</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
