<div style="background-color: #10147e">
  <div class="container text-white p-3">
    <div class="row py-2">
      <div class="col-sm-12 col-md-4">
        <a class="link" href="">Home</a> <br />
        <a class="link" href="">About</a> <br />
        <a class="link" href="">Manuscript Submission</a> <br />
        <a class="link" href="">Authors Guidelines</a> <br />
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="link" href="">Current Issue</a> <br />
        <a class="link" href="">Archives</a> <br />
        <a class="link" href="">Editorial Board</a> <br />
        <a class="link" href="">Privacy Policy</a> <br />
        <a class="link" href="">Terms & Conditions</a>
      </div>
      <div class="col-sm-12 col-md-4">
        Keep up to date
        <p class="fs-4">
          <a class="link" href=""
            ><fa-icon [icon]="facebook" class="me-2"></fa-icon
          ></a>
          <a class="link" href=""
            ><fa-icon [icon]="linkedin" class="mx-2"></fa-icon
          ></a>
          <a class="link" href=""
            ><fa-icon [icon]="twitter" class="ms-2"></fa-icon
          ></a>
        </p>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-sm-12 col-md-8 fs-6">
        Copyright &copy; 2021. All right reserved Infokart.
      </div>
      <div class="col-sm-12 col-md-4 fs-4">The Nursing Journal of India</div>
    </div>
  </div>
</div>
