<div style="background-color: #336699">
  <div class="container text-white p-3">
    <div class="row py-2">
      <div class="col-sm-12 col-md-4">
        <a class="link" href="">Home</a> <br />
        <a class="link" href="about">About</a> <br />
        <a class="link" href="submitmanuscript">Submit Manuscript</a> <br />
        <a class="link" href="authors-guidelines">Authors Guidelines</a> <br />
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="link" href="current-issue">Current Issue</a> <br />
        <a class="link" href="archive">Archives</a> <br />
        <a class="link" href="editorial-board">Editorial Board</a> <br />
        <a class="link" href="privacy-policy">Privacy Policy</a> <br />
        <a class="link" href="terms-conditions">Terms & Conditions</a>
      </div>
      <div class="col-sm-12 col-md-4 mt-3 mt-lg-0">
        Keep up to date
        <p class="fs-4">
          <a class="link" href=""
            ><fa-icon [icon]="facebook" class="me-2"></fa-icon
          ></a>
          <a class="link" href=""
            ><fa-icon [icon]="linkedin" class="mx-2"></fa-icon
          ></a>
          <a class="link" href=""
            ><fa-icon [icon]="twitter" class="ms-2"></fa-icon
          ></a>
        </p>
      </div>
    </div>
    <div class="row  py-2">
      <div class="col-sm-12 col-md-8 mt-lg-3 mt-1" style="font-size: 12px; ">
        Copyright 2021. All Rights Reserved.
        
        Powered by Infokart India Pvt Ltd. 
      </div>
      <div class="col-sm-12 col-md-4 fs-4">The Nursing Journal of India</div>
    </div>
  </div>
</div>
