<div class="container px-lg-5 px-3">
    <div class="border my-4 shadow">
        <div class="header">
            <span class="text-dark">About</span>
        </div>

       <!-- <p class="px-5">the about journal</p> -->
       
       <p class="p-5 about" style="text-align: justify;" >The Nursing Journal of India (NJI), the official organ of the Trained Nurses Association of India (TNAI) was started in
    1910. It was published as a monthly periodical. Ever since its inception, the NJI has been the medium of communication
    between the veterans and leaders of Nursing and the nurses of India as well as among the members of TNAI. Over years,
    its membership grew consistently.<br><br>
    
    As the TNAI was planning to celebrate its centenary in 2010 (?) there was a felt need to have an exclusive regular
    publication that would cover mainly the research articles on nursing and other academic issues of interest to TNAI
    members. It was at that time that the EC/ Council to restructure the existing monthly NJI to a bi-monthly (every
    alternate month i.e. in February, April, June, August, October and December) periodical. At the same time, the
    para-academic issues like TNAI State Branch elections, institutional news items, honours and awards, nursing and other
    events and news of interest to TNAI members, etc. could not be left out; a decision was therefore taken to bring out a
    separate monthly be published. This was named TNAI Bulletin. The NJI reaches to all the Nursing Institution in India and
    the members.<br><br>
    
    The NJI is an ISSN-accredited, peer-reviewed journal and enjoys excellent reputation due to its superior quality of
    original / review articles and evidence-based case studies. The members of Editorial Advisory Board and Peer Reviewers
    are experts in diverse specialities. Meetings of EAB are held to see that the journal brings in improvements
    consistently. The editorial team at Hqrs ensures that the editorial standards are not compromised.
</p>
    </div>

</div>