<div class="container px-lg-5 px-3">
    <div class="border my-4 shadow">
        <div class="header"><span class="text-dark">Editorial Board</span></div>
        <div class="container">
            <ng-container>
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab *ngFor="let datas of data; let index = index" [label]="datas.heading">
                        <div class="row m-lg-4 m-2">
                            <div class=" col-12 col-md-6 my-3"  *ngFor="let items of datas.data">
                                <div class="card member-card">
                                    <img [src]="editorial_url + items.image" class="card-img-top px-4 py-4"
                                        style="width: 40%; height: 110px;">
                                    <div class="card-body " style="font-size: 13px; color: #336699;">
                                        <span class="py-4"><b>Name:</b> {{items.name}}</span><br>
                                        <span class="py-4"><b>Designation:</b> {{items.department}}</span><br>
                                       
                                        <span class="py-4"><b>Email:</b> {{items.email}}</span><br>
                                        <span class="py-4"><b>Phone no.:</b> {{items.contact}} </span><br>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
        </div>
    </div>

</div>
<p></p>