.header{
background-color: #F59E5F7e;
font-size: 1.5em;
padding: 1%;
font-weight: 600;
border-top-color: 1px solid red;
font-family: "Droid Serif",serif;
    padding: 12px;
}
.bt-s{
    font-weight: 500;
    font-family: "Droid Serif",serif;
    justify-content:space-evenly; 
    display:flex;
}
.mat-form-field{
   width:70% !important;
}
.mat-icon{
    color:#006db4;
    font-size: 15px;
}
.text-color{
   color:#006db4;
   font-size: 14px;

}
@media only screen and (max-width:768px){
    .mat-form-field{
   width:100% !important;
}
.bt-s{
    font-family: "Droid Serif",serif;
    justify-content:space-evenly; 
    display:block;
}
}