<div class="container px-lg-5 px-3">
    <div class="border my-4 shadow">
        <div class="header"><span class="text-dark">Archives</span></div>
        <p class="px-4 py-4 issues">List of issues</p>
        <div class="p-3 uliset  border">
            <mat-accordion class="example-headers-align" *ngFor="let datas of data" multi>
                <mat-expansion-panel style="margin-bottom: .75em;">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="issues-title" >
                         vol {{datas.volume }} {{datas.year}}
    
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="m-3" *ngFor="let items of datas.data" >
                        <a class="issue-links"  (click)="get_issue(datas.issue_id)">
                           issue {{items.number}}
                        </a>
                    </p>
                </mat-expansion-panel>
            </mat-accordion>  
        </div>
    </div>
</div>