<app-header></app-header>
<div class="header-img"
    style="background-image: url('assets/slide7.jpg'); background-repeat: no-repeat;height: 88vh; background-size: 100% 100%; z-index: 1;">
    <div class="py-5">
        <form>
            <h1 class="text-center text-light mt-5 search">Search Articles</h1>
            <div class="main">

                <div class="input-group">
                    <input type="text" class="form-control allfield" placeholder="Search this blog">
                    <div class="input-group-append">
                        <button class="btn btn-secondary searchbox" type="button">
                            <i class="fa fa-search" style="font-size: x-large;"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
<div class="triangle-2"></div>
<div class="container">
    <div class="footer my-5">
        <h2 class="text-center fw-bold ">Explore Journals and Articles by Subject</h2>
        <br>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none mt-33" href="#"> Area Studies </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Arts </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Behavioral Sciences </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Built Environment </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Communication Studies </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Computer Science </a></li>

                </ul>

            </div>
            <div class="col-lg-3 col-sm-12">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none mt-33" href="#"> Earth Sciences </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Economics, Finance, Business & Industry </a>
                    </li>
                    <li><a class="text-decoration-none mt-33" href="#"> Education </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Engineering & Technology </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Environment & Agriculture </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Environment and Sustainability </a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-sm-12">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none mt-33" href="#"> Food Science & Technology </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Geography </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Global Development </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Health and Social Care </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Humanities </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Information Science </a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-sm-12">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none mt-33" href="#"> Language & Literature </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Mathematics & Statistics </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Medicine, Dentistry, Nursing & Allied Health
                        </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Museum and Heritage Studies </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Physical Sciences </a></li>
                    <li><a class="text-decoration-none mt-33" href="#"> Politics & International Relations </a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Trending Articles</h2>
        <div class="">
        </div>
    </div>
</div>
