<div class="header-img" style="
    background-image: url('assets/slide7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  ">
  <div class="py-lg-5 py-1">
    <form class="my-lg-5 my-2">
      <h1 class="text-center text-light search pt-lg-5 pt-3">Search Articles</h1>
      <div class="main">
        <div class="input-group">
          <input type="text" class="form-control allfield" placeholder="Enter Keywords, authors, DOI,Title, etc. "
            >
          <div class="input-group-append">
            <button class="btn btn-secondary searchbox" type="button">
              <i class="fa fa-search" style="font-size: x-large" (click)="search()"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="py-lg-5 my-lg-5 my-4 text-center fs-3 text-white" style="font-family: Droid Serif" >
     {{vau?.total}}  articles
    </div>
  </div>
  <div class="b">
    <p class="text-uppercase text-center my-0 blues fs-lg-5 fs-6">India's oldest Nursing journal with more than 100 years of legacy
    </p>
  </div>

</div>

<div class="gery"></div>
<div class="triangles">
  <div class="triangle-2"></div>
</div>
<div style="background-color: #336699;">
  <div class="container py-5 mtt-34 text-center">
    <h4 class="text-capitalize my-3 pb-3 text-light">
      Learn how we support you
    </h4>
    <div class="row pb-4 " style="background-color: #336699;">

      <div class="col-md-3 col-sm-12 col-lg-3 side-border">
        <div class="" style="background-color: #336699;">
          <h5 class="text-capitalize text-light mt-3">librarians</h5>
          <p class="text-lights fs-5 m-3">Connect with our world class journal.</p>

        </div>

      </div>
      <div class="col-md-3 col-sm-12 col-lg-3 side-border">
        <div class="" style="background-color: #336699;">
          <h5 class="text-capitalize text-light">authors</h5>
          <p class="text-lights fs-5 p-2">Publish your research. Enhance your career.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-lg-3 side-border">
        <div class="" style="background-color: #336699;">
          <h5 class="text-capitalize text-light">plagiarism</h5>
          <p class="text-lights fs-5 p-2">Manuscript submitted will be checked for originality using anti-plagiarism
            software</p>

        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-lg-3 ">
        <div class="" style="background-color: #336699;">
          <h5 class="text-capitalize text-light">peer review</h5>
          <p class="text-lights fs-5 p-2">Text to be given by TNAI</p>

        </div>
      </div>

    </div>

  </div>
</div>
<div class="gery"></div>
<div class="triangles" >
  <div class="triangle-2"></div>
</div>
<div class="container text-lg-start text-center">
  <div class="footer my-4">
    <h2 class="text-center fw-bold pt-4">
      Explore Articles by Subject
    </h2>
    <br />
    <div class="row"  >
      <div class="col-lg-3 col-sm-12" *ngFor="let items of data">
        <ul class="list-unstyled">
          <li >
             
            <a class="text-decoration-none mt-33" (click)="getarticle(items.category_id)" style="cursor: pointer;">
          {{items.category_name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #eee;">
  <div class="container">
    <div class="row">
      <h2 class="text-center fw-bold my-4">Trending Articles</h2>
      <div class="e" >
       
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
          <div class="col" *ngFor="let item of datas">
             {{item.view}}
            <div class="card h-100">
              <div class="card-header card-headers"></div>
              <img [src]="img+item.graphic" style="height: 200px;" class="img-fluid img-thumbnail my-2" alt="..." />
              <div class="card-body">
           
                <a class="card-text text-color text-color text-decoration-none" (click)="abstract_data(item.article_id)" style="margin: 0px; cursor: pointer;" [innerHTML]="item.title">
                 <span class="px-2"><i class="fa fa-angle-right"></i></span>
                </a>

                <hr style="margin: 0px;" />
                <div>
                  <span class="text-secondary">{{item.authors}}
                  </span>
                </div>
              </div>
            </div>

          </div>
        
    

        </div>
      </div>
    </div>
  </div>
</div>