<div class="container px-lg-5 px-3">
    <div class="border my-4 " style="background-color: #eee;">
        <div class="header"><span class="text-dark">Current Issue</span></div>
        <div class="m-lg-5 mx-3" *ngFor="let item of data">
               {{item.issue_no}}, {{item.date_publish}}
            <span class=" font-weight-bold" style="font-size:1.6em;font-family: 'Droid Serif';">
                <br>
                <br>
            </span>
            <div class="hv" >
                <h5 class="ms-1 article-type"> 
                    {{item.category_name}}
                </h5>
                <div class="card shadow my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 px-3">
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <h5 class="card-text title">
                                        <!-- {{item.title}} -->
                                Contradictions, Dialectics, and Paradoxes in Organizations: A Constitutive Approach
                                </h5>
                                <span class="text-drak" style="font-size: .85em;">Jonathan Schad, Marianne W. Lewis,
                                    Sebastian Raisch & Wendy K. Smith</span><br>
                                <span class="text-second" style="color:#777;font-size: .765em">Pages: 5-64</span><br>
                                <span style="color:#777;font-size: .765em;"><b>Published online:</b> 15 Apr 2016</span>

                                <p class="btn-links">
                                    Abstract
                                    |
                                    Full Text
                                    |
                                    PDF
                                    |
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-2  d-flex d-lg-inline justify-content-space-evenly">
                                <p class="text-start  view-s m-0"><span class="number">215</span> Views&nbsp;&nbsp;</p>
                                <hr class="m-1">
                                <p class="text-start  view-s m-0"><span class="number">150</span> Downloads</p>
                                <hr class="m-1">
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <!-- <h5 class="ms-1 article-type">Original Articles</h5> -->
                <div class="card shadow my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 px-3">
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <h5 class="card-text title">Approach, Ability, Aftermath: A Psychological Process
                                    Framework of Unethical Behavior at Work</h5>
                                <span class="text-drak" style="font-size: .85em;">Jonathan Schad, Marianne W. Lewis,
                                    Sebastian Raisch & Wendy K. Smith</span><br>
                                <span class="text-second" style="color:#777;font-size: .765em">Pages: 5-64</span><br>
                                <span style="color:#777;font-size: .765em;"><b>Published online:</b> 15 Apr 2016</span>

                                <p class="btn-links">
                                    Abstract
                                    |
                                    Full Text
                                    |
                                    PDF
                                    
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-2  d-flex d-lg-inline justify-content-space-evenly">
                                <p class="text-start  view-s m-0"><span class="number">323</span> Views&nbsp;&nbsp;</p>
                                <hr class="m-1">
                                <p class="text-start  view-s m-0"><span class="number">52</span> Downloads</p>
                                <hr class="m-1">
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="card shadow my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 px-3">
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <h5 class="card-text title">Modelling Bounded Rationality in Organizations: Progress and
                                    Prospects</h5>
                                <span class="text-drak" style="font-size: .85em;">Jonathan Schad, Marianne W. Lewis,
                                    Sebastian Raisch & Wendy K. Smith</span><br>
                                <span class="text-second" style="color:#777;font-size: .765em">Pages: 5-64</span><br>
                                <span style="color:#777;font-size: .765em;"><b>Published online:</b> 15 Apr 2016</span>
                                <p class="btn-links">Abstract
                                    |
                                    Full Text
                                    |
                                    PDF
                                    </p>
                            </div>
                            <div class="col-sm-12 col-md-2  d-flex d-lg-inline justify-content-space-evenly">
                                <p class="text-start  view-s m-0"><span class="number">145</span> Views&nbsp;&nbsp;</p>
                                <hr class="m-1">
                                <p class="text-start  view-s m-0"><span class="number">170</span> Downloads</p>
                                <hr class="m-1">
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <h5 class="ms-1 article-type">Erratum</h5>
                <div class="card shadow my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 px-3">
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <h5 class="card-text title">Creative Leadership: A Multi-Context Conceptualization</h5>
                                <span class="text-drak" style="font-size: .85em;">Jonathan Schad, Marianne W. Lewis,
                                    Sebastian Raisch & Wendy K. Smith</span><br>
                                <span class="text-second" style="color:#777;font-size: .765em">Pages: 5-64</span><br>
                                <span style="color:#777;font-size: .765em;"><b>Published online:</b> 15 Apr 2016</span>
                                <p class="btn-links">Abstract
                                    |
                                    Full Text

                                    |
                                    PDF
                                    </p>
                            </div>
                            <div class="col-sm-12 col-md-2  d-flex d-lg-inline justify-content-space-evenly">
                                <p class="text-start  view-s m-0"><span class="number">325</span> Views&nbsp;&nbsp;</p>
                                <hr class="m-1">
                                <p class="text-start  view-s m-0"><span class="number">50</span> Downloads</p>
                                <hr class="m-1">
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>